################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebBook/.vs/WebBook
/WebBook/WebBook/bin/Debug/netcoreapp3.1
/WebBook/WebBook/obj
