
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
</head>
<body>
    <h2>Welecome to book store application</h2>
    <button>click Me</button>
</body>
</html>
